@import "../../../../../assets/variables.scss";

.input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  font-size: $mainFontSize;
  font-family: inherit;

  &:focus {
    box-shadow: 0 0 5px gray inset;
  }

  &:hover {
    box-shadow: 0 0 5px gray inset;
  }

  &-label {
    font-weight: bold;
    font-size: 16px;
    flex-basis: 100%;
  }
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.long {
  width: 100%;
}

.hint {
  margin-left: 10px;
  color: red;
  font-weight: normal;
}

.invalid {
  border-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}