<div class="section">
  <div class="container">
    <app-search (search)="inputChange($event)"></app-search>
    <div class="add-button-wrapper">
      <app-button 
        [routerLink]="['/courses/new']"
        text="+ Add course"
        type="button"
        [colored]='true'
      ></app-button>
    </div>
  
    <h2 *ngIf="!courses$" class="no-data">
      No data. Feel free to add new course.
    </h2>
    
    <app-course 
      *ngFor="let course of courses$ | async"
      [course]="course" 
      (delete)="deleteCourse($event)"
    ></app-course>
    
    <div *ngIf="courses$" 
      class="more-button-wrapper">
      <app-button
        type="button"
        text="Load more"
        [long]="true"
        (btnClick)="loadMore()"
      ></app-button>
    </div>
  </div>
</div>
