@import '../../../../../assets/variables.scss';

.button {
  border: none;
  color: #000;
  background-color: grey;
  padding: 10px 15px;
  font-size: $mainFontSize;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: inherit;
  }

  &:hover {
    background-color: rgb(107, 107, 107);

    &:disabled {
      background-color: grey;
    }
  }
}

.colored {
  color: $btnText;
  background-color: $btnBg;
  
  &:hover {
    background-color: $btnHover;
    &:disabled {
      background-color: $btnBg;
    }
  }
}