@import '~src/assets/variables.scss';

.header {
  padding: 20px 0;
  background: $headFootBg;
}

.text {
  padding: 20px 0;
  font-size: 16px;
  margin-bottom: 0;
}

.select {
  background-color: $headFootBg;
  border: 1px solid #fff;
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  outline: none;
}
