<header class="header">
  <div class="container">
    <div class="flex-around header-dark">
      <app-logo></app-logo>
      <div *ngIf="authService.isAuthenticated">
        <app-button 
          [text]="authService.currentUser"
          type="button"
          [clear]="true"
        ></app-button>
        <app-button 
          (btnClick)="logOut()"
          text="Log out"
          type="button"
          [clear]="true"
        ></app-button>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <p class="text" *ngIf="authService.isAuthenticated">Courses</p>
</div>