<article class="course" [appFreshCourse]="course" [ngClass]="{top: course.isTopRated}">
  <div class="row align-items-center">
    <div class="col-9">
      <div class="flex-around">
        <h2>
          {{ course.name | uppercase }}
          <mat-icon *ngIf="course.isTopRated">star</mat-icon>
        </h2>

        <div class="information-container">
          <div class="information" *ngIf="course.length">
            <mat-icon class="info-icon">access_time</mat-icon>
            Duration: {{ course.length | duration }}
          </div>
          <div class="information">
            <mat-icon class="info-icon">calendar_today</mat-icon>
            Date: {{ course.date | date: 'dd MMM yyyy' }} 
          </div>
        </div>

      </div>
      <p class="course-text">
        {{ course.description }}
      </p>
    </div>
    <div class="col-3">
      <app-button 
        class="api-btn"
        (btnClick)="onEdit()"
        text="Edit"
        type="button"
        [colored]="true"
        icon="edit"
      ></app-button>
      <app-button 
        class="api-btn"
        (btnClick)="onDelete()"
        text="Delete"
        type="button"
        [colored]="true"
        icon="delete"
      ></app-button>
    </div>
  </div>
</article>
