@import '~src/assets/variables.scss';

.course {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px 20px;
  padding-right: 10px;
}

.info-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.information-container {
  display: flex;
}

.information {
  display: flex;
  margin-right: 30px;
  color: rgba(0,0,0,.54);
  font-size: 14px;
}

.api-btn {
  // min-width: 110px;
  margin-left: 10px;
  background-color: $btnBg;
  color: $btnText;
}

.course-text {
  margin-top: 30px;
}

.course-authors {
  font-style: italic;
  text-decoration: underline;
}

.course {
  border: 3px solid #000;
}

.top {
  background-color: rgba(254, 255, 210, 0.4);
}

.center {
  text-align: center;
}
