<header class="header">
  <div class="container">
    <mat-card-header class="flex-around header-dark">
      <mat-card-title>
        <app-logo></app-logo>
      </mat-card-title>
      <mat-card-actions *ngIf="authService.isAuthenticated">
        <app-log-button [btnText]='"User login"'></app-log-button>
        <app-log-button [btnText]='"Log out"'></app-log-button>
      </mat-card-actions>
    </mat-card-header>
  </div>
</header>
<div class="container">
  <mat-card-content *ngIf="authService.isAuthenticated">
    <p class="text">Courses</p>
  </mat-card-content>
</div>