@import "../../../../../assets/variables.scss";

.header {
  padding-top: 20px;
  background: $headFootBg;
}

.text {
  padding: 20px 0;
  font-size: 16px;
  margin-bottom: 0;
}

.log-button {
  color: $btnText;
}