<section class="login">
  <div class="container">
    <div class="row justify-content-center">
      <form class="login-form">
        <h2 class="form-header">Login</h2>
        <mat-form-field class="form-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. pat@example.com" name="email" required [(ngModel)]="email">
          <mat-hint>*required</mat-hint>
        </mat-form-field>
        <mat-form-field class="form-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="password" required [(ngModel)]="password">
          <mat-hint>*required</mat-hint>
        </mat-form-field>
        <div class="form-control flex-around">
          <a>
            <mat-hint>Forgot your password?</mat-hint>
          </a>
          <button mat-raised-button (click)="onLogin()" [disabled]="!email || !password">Login</button>
        </div>
      </form>
    </div>
  </div>
</section>
