<section class="course">
  <div class="container">
    <form class="course-form">
      <h2 class="form-header">{{isEditCourse ? 'Edit' : 'Add new'}} course</h2>
      <app-text-input
        class="form-input long"
        type="text"
        required="true" 
        name="name"
        labelText="Name*:"
        (inputChange)="changeName($event)"
        [long]="true"
        [value]="name"
      ></app-text-input>
      <app-text-input
        class="form-textarea long"
        type="textarea"
        required="true" 
        name="description"
        labelText="Description*:"
        (inputChange)="changeDescription($event)"
        [long]="true"
        [value]="description"
      ></app-text-input>
      <app-text-input
        class="form-input long"
        type="text"
        required="true" 
        name="date"
        labelText="Date*:"
        (inputChange)="changeDate($event)"
        [value]="date"
      ></app-text-input>
      <app-text-input
        class="form-input long"
        type="number"
        required="false" 
        name="duration"
        labelText="Duration:"
        (inputChange)="changeDuration($event)"
        [value]="length"
        [hint]="length | duration"
      ></app-text-input>
      <app-text-input
        class="form-input long"
        type="text"
        required="false" 
        name="authors"
        labelText="Authors:"
        (inputChange)="changeAuthors($event)"
        [value]="authors"
        [long]="true"
      ></app-text-input>
      <p class="note"><strong>*</strong> - required inputs</p>
      <div class="form-control">
        <app-button 
          class="margin-btn"
          (btnClick)="onSave()"
          [disabled]="!name || !description || !date"
          text="Save"
          type="submit"
          [colored]="true"
        ></app-button>
        <app-button 
          (btnClick)="onCancel()"
          text="Cancel"
          type="button"
        ></app-button>
      </div>
    </form>
  </div>
</section>
