@import "../../../../../assets/variables.scss";

.course {
  background-color: $mainBg;
  padding: 50px 0;

  &-form {
    display: flex;
    flex-wrap: wrap;
  }
}

.colored {
  background-color: $btnBg;
  color: $btnText;
  margin-right: 20px;
}

.long {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.note {
  flex-basis: 100%;
  margin: 30px 0;
  font-size: 16px;
}

.margin-btn {
  margin-right: 30px;
}

.authors-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid gray;
  flex-basis: 100%;
  cursor: pointer;
  min-height: 40px;
  position: relative;
  padding-right: 135px;
}

.authors-header {
  font-weight: bold;
}

.author-wrapper {
  margin-left: 10px;
  padding-left: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background-color: gray;
}

.author-hint {
  font-weight: normal;
}

.author-add-button {
  position: absolute;
  right: 0;
}